@{
    ViewData["Title"] = "Contact Us.";
}
<h1>@ViewData["Title"]</h1>

<p class="contactParagraph">Running low on your favorite snack? <br />Feel free to get in touch with us below.</p><hr />

<div class="form-group">
    <div class="inputSpacing">
        <label>First Name: </label>
        <input class="form-control formLength" placeholder="Katie"></input>
    </div>

    <div class="inputSpacing">
        <label>Last Name: </label>
        <input class="form-control formLength" placeholder="Allen"></input>
    </div>

<div class="inputSpacing">
    <form method="POST" action="https://formspree.io/huntermettsdev@gmail.com">
        <label>Your Email: </label>
        <input type="email" class="form-control formLength" name="email" placeholder="kAllen@someEmail.com ">

        <label>Message: </label>
        <textarea name="message"  class="form-control formLength" placeholder="Drop a message here to let us know how we can help."></textarea>
        <button type="submit" class="btn btn-dark sendMessageButton">Send</button>
    </form>
</div>
  
</div>


    @*<button type="button" class="btn btn-dark bottomButton">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Submit</a>
    </button>*@
