@{
    ViewData["Title"] = "Home Page";
}


<div class="contentLanding">
    <div class="text-center">
        <h4 class="textLanding">A new way to manage <br /> Nashville Software School's vending machine.</h4>
    </div>

    <div class="landingButtons">
        @*<button type="button" class="btn btn-dark">Dark</button>*@
        <button type="button" class="btn btn-dark registerHome">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </button>
        <br />

        <p class="orButton">or</p>

        <button type="button" class="btn btn-dark bottomButton">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </button>
    </div>

    <div class="landingImage">
        <img src="~/images/reeces.png" alt="reeces" height="900" width="900">
    </div>
</div>

