@model Nosh.Models.VendingMachine

<h1>Create a Vending Machine</h1>

<h4>Remember to add your snacks to the vending machine on the snacks page.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="vendingMachineName" class="control-label"></label>
                <input asp-for="vendingMachineName" class="form-control" />
                <span asp-validation-for="vendingMachineName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vendingMachineLocation" class="control-label"></label>
                <input asp-for="vendingMachineLocation" class="form-control" />
                <span asp-validation-for="vendingMachineLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

