
@{
    ViewData["Title"] = "DeleteRedirect";
}

<h1>Sorry...</h1>
<h4>Looks like this vending machine still has some snacks in it. <br />If you'd like to delete this vending machine,  please first delete all the snacks from it.</h4>


