@model Nosh.Models.Snack

@{
    ViewData["Title"] = "Create";
}

<h1>Create a snack</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="snackName" class="control-label"></label>
                <input asp-for="snackName" class="form-control" />
                <span asp-validation-for="snackName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="snackPrice" class="control-label"></label>
                <input asp-for="snackPrice" class="form-control" />
                <span asp-validation-for="snackPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="snackCalories" class="control-label"></label>
                <input asp-for="snackCalories" class="form-control" />
                <span asp-validation-for="snackCalories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vendingMachineId" class="control-label"></label>
                <select asp-for="vendingMachineId" class ="form-control" asp-items="ViewBag.vendingMachineId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SnackTypeId" class="control-label"></label>
                <select asp-for="SnackTypeId" class ="form-control" asp-items="ViewBag.SnackTypeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

