@model IEnumerable<Nosh.Models.Snack>

@{
    ViewData["Title"] = "Index";
}


<h1 class="headerSnacks"><strong>Nashville Software School's</strong> vending options:</h1>

<div class="cardHolder">
    
        @foreach (var item in Model)
        {
            string fileName = $"{ item.snackType.imageURL }";

    <div class="cardStyles">
        <div class="card" style="width: 11rem; height:15rem;">
            <div class="alignItems">
                <h5 class="card-title cardText"> @Html.DisplayFor(modelItem => item.snackName)</h5>

                <img class="card-img-top rescaleImage" src=@fileName alt="Card image cap">
                <div class="card-body">
                    <a class="btn btn-dark cardButton" asp-action="Details" asp-route-id="@item.id">Details</a>
                </div>
            </div>
        </div>
    </div>
        }
    </div>

<div class="snackButtonCenter">
    <button type="button" class="btn btn-dark addASnackButton">
        <a asp-action="Create" class="snackText">Add a snack</a>
    </button>
</div>